.form {
    padding: 30px;
    border: 1px solid #000;
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    // width: 26vw; 
    width: 400px;
}