.input {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;

    .input__label {
    }
    .input__block {
        border-radius: 10px;

        .input__enter {
            width: 100%;
            padding: 10px;
            border: 1px solid #000;
        border-radius: 10px;
        font-size: 14px;
        font-weight: 300;
        height: 40px;
        }
        .input__enter:focus {
            outline: none;
            border: 1px solid #8c8c8c;
        }
    }
        
}
