.modal {
    border-radius: 10px;
    border: 1px solid #000;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    background: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: fit-content;

    &__title {

    }

    &-btn {
        display: flex;
        gap: 15px;
        width: 100%;
    }

    &-bg {
        width: 100vw;
        height: 100vh;
        background: #000000a5;
        position: absolute;
    }
}